.cardinfo {
  padding-top: 280px;
  background-color: white;
  display: flex;
  width: 70%;
  margin: auto;
}

.leftinfo {
  background-color: white;
  margin-left: 50px;
}

.leftinfo p {
  font-size: 15px;
}

.rightinfo {
  background-color: white;
  margin: auto;
  width: 900px;
  height: 300px;
  margin-left: 5%;
  margin-bottom: 100px;
  margin-right: 5%;
}

.name {
  text-align: left;
  position: relative;
  width: 300%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.hp {
  text-align: right;
  position: relative;
  width: 300%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.hp_num {
  font-size: 30px;
  color: white;
}

.card-hp {
  font-size: 30px;
  color: white;
}

.header {
  background-color: #ed193a;
  border-radius: 5px 5px 0 0;
  display: flex;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

.pokemon-info {
  background-color: #da232a;
  color: #fff;
  padding: 0.5em 1.2em;
}

.pokemon-abilities {
  padding: 1.1em 1.2em;
  background-color: #f2f2f2;
}

.skillname {
  font-size: 30px;
}
