.container {
  width: 1050px;
  margin: auto;
  padding-top: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 80px;
}

.wrap {
  background-image: url("../imgs/cards-bg.jpg");
  height: 10rem;
}

.nava {
  padding-top: 200px;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.cards {
  position: relative;
  top: 200px;
  right: 125px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}
