p {
    font-size: 15px;
}

.menu{
    padding: 20px;
    cursor: pointer;
    align-items: center;
    line-height: 28px;
}

.menu:hover{
    background-color: red;
    color: white;
    transition: all 0.3s ease-in-out;
}

.menu-2{
    padding: 10px;
}