.nav {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin-top: -25px;
  box-shadow: 0 1px 20px 0px rgb(0 0 0 / 30%);
}

.title {
  margin-left: 90px;
  margin-top: 30px;
}

.menu1 {
  display: flex;
  margin-left: -500px;
}




@media screen and (max-width: 1090px) {
  .nav {
    left: initial;
    top: initial;
    height: 70px;
  }

  .nav a {
    margin-left: 45%;
  }

  .nav a img {
    height: 50px;
    padding-bottom: 10px;
  }

  .nav .ham {
    display: block;
    background-color: black;
    
  }
}
