.nav {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 5px;
}

.nav a {
  margin-left: 60px;
}

.nav .ham {
  display: none;
}

@media screen and (max-width: 1090px) {
  .nav {
    left: initial;
    top: initial;
    height: 70px;
  }

  .nav a {
    margin-left: 45%;
  }

  .nav a img {
    height: 50px;
    padding-bottom: 10px;
  }

  .nav .ham {
    display: block;
    background-color: black;
    
  }
}
